.container {
    margin: 0 auto;
    padding: 20px;
}

.breed-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.loader,
.error {
    display: none;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    }

.cat-info {
    display: none;
}

.cat-content {
    display: flex;
}

.cat-image {
    width: 400px;
    height: auto;
    margin-right: 20px;
}
