.container {
    margin: 0 auto;
    padding: 20px;
}

.breed-select {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}

.loader,
.error {
    display: none;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    }

.cat-info {
    display: none;
}

.cat-content {
    display: flex;
}

.cat-image {
    width: 50%;
    height: auto;
    margin-right: 20px;
}

.cat-content h2 {
    font-size: 3em;
}

.cat-content p {
    font-size: 1.5em;
}