.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.breed-select {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}

.cat-content {
    display: flex;
}

.cat-image {
    max-width: 50%;
    margin-right: 20px;
}

.cat-details h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 3em;
}

.cat-details p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.loader,
.error {
    display: none;
    margin-top: 20px;
}